@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    background-color:#1B222D;
    width:345px;
    height:350px;
    border-radius: 30px;
    padding-left: 25px;
    padding-top:40px;
}

.image-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    margin-bottom: 20px;
}

.selection-div{
    background-color: #262F3A;
    width:170px;
    height:25px;
    border-radius: 30px;
}

.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    margin-bottom: 30px;
}

.h2-1{
    font-family: "Overpass", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    color:hsl(0, 100%, 100%);
    margin-bottom: 10px;
}

.paragraph1{
    font-family: "Overpass", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    font-size: 14px;
    color:hsl(217, 12%, 63%)
}